.jumbotron{
	height: 275px;
	background-color: #0d1021;
	background-image: url(../../resources/images/home-banner-2x.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 1130px 300px;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	margin-top: 20px;
	margin-bottom: 20px;
}
