.list-group.resume-list-group > .list-group-item {
  border: none;
  border-top: 1px solid #ddd;
  padding: 20px 25px;
}

.list-group.resume-list-group > .list-group-item:last-child {
    border-bottom: none;
}

.project {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}
