.home-banner {
	height: 215px;
	background-color: #0d1021;
	background-image: url(/ui/_shared/images/backbone-banner.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: auto 215px;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	margin-top: 20px;
	margin-bottom: 20px;
}
